html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Position */

.pos-s      { position: static; }
.pos-r      { position: relative; }
.pos-a      { position: absolute; }
.pos-f      { position: fixed; }
.pos-sticky { position: sticky; }

/* Object-Fit */

.of-fill { object-fit: fill; }
.of-contain { object-fit: contain; }
.of-cover { object-fit: cover; }
.of-none { object-fit: none; }
.of-scale-down { object-fit: scale-down; }