/* Border Style */

.b-solid  { border-style: solid; }
.b-dashed { border-style: dashed; }
.b-dotted { border-style: dotted; }
.b-double { border-style: double; }
.b-groove { border-style: groove; }
.b-inset  { border-style: inset; }
.b-outset { border-style: outset; }
.b-ridge  { border-style: ridge; }

.bt-solid  { border-top-style: solid; }
.bt-dashed { border-top-style: dashed; }
.bt-dotted { border-top-style: dotted; }
.bt-double { border-top-style: double; }
.bt-groove { border-top-style: groove; }
.bt-inset  { border-top-style: inset; }
.bt-outset { border-top-style: outset; }
.bt-ridge  { border-top-style: ridge; }

.br-solid  { border-right-style: solid; }
.br-dashed { border-right-style: dashed; }
.br-dotted { border-right-style: dotted; }
.br-double { border-right-style: double; }
.br-groove { border-right-style: groove; }
.br-inset  { border-right-style: inset; }
.br-outset { border-right-style: outset; }
.br-ridge  { border-right-style: ridge; }

.bb-solid  { border-bottom-style: solid; }
.bb-dashed { border-bottom-style: dashed; }
.bb-dotted { border-bottom-style: dotted; }
.bb-double { border-bottom-style: double; }
.bb-groove { border-bottom-style: groove; }
.bb-inset  { border-bottom-style: inset; }
.bb-outset { border-bottom-style: outset; }
.bb-ridge  { border-bottom-style: ridge; }

.bl-solid  { border-left-style: solid; }
.bl-dashed { border-left-style: dashed; }
.bl-dotted { border-left-style: dotted; }
.bl-double { border-left-style: double; }
.bl-groove { border-left-style: groove; }
.bl-inset  { border-left-style: inset; }
.bl-outset { border-left-style: outset; }
.bl-ridge  { border-left-style: ridge; }

.b-width-0  { border-width: 0; }
.bt-width-0 { border-top-width: 0; }
.br-width-0 { border-right-width: 0; }
.bb-width-0 { border-bottom-width: 0; }
.bl-width-0 { border-left-width: 0; }

.b-width-1  { border-width: 1px; }
.bt-width-1 { border-top-width: 1px; }
.br-width-1 { border-right-width: 1px; }
.bb-width-1 { border-bottom-width: 1px; }
.bl-width-1 { border-left-width: 1px; }

.b-width-2  { border-width: 2px; }
.bt-width-2 { border-top-width: 2px; }
.br-width-2 { border-right-width: 2px; }
.bb-width-2 { border-bottom-width: 2px; }
.bl-width-2 { border-left-width: 2px; }

.b-width-3  { border-width: 3px; }
.bt-width-3 { border-top-width: 3px; }
.br-width-3 { border-right-width: 3px; }
.bb-width-3 { border-bottom-width: 3px; }
.bl-width-3 { border-left-width: 3px; }

.b-width-4  { border-width: 4px; }
.bt-width-4 { border-top-width: 4px; }
.br-width-4 { border-right-width: 4px; }
.bb-width-4 { border-bottom-width: 4px; }
.bl-width-4 { border-left-width: 4px; }

.b-width-5  { border-width: 5px; }
.bt-width-5 { border-top-width: 5px; }
.br-width-5 { border-right-width: 5px; }
.bb-width-5 { border-bottom-width: 5px; }
.bl-width-5 { border-left-width: 5px; }

.b-width-6  { border-width: 6px; }
.bt-width-6 { border-top-width: 6px; }
.br-width-6 { border-right-width: 6px; }
.bb-width-6 { border-bottom-width: 6px; }
.bl-width-6 { border-left-width: 6px; }

.b-width-7  { border-width: 7px; }
.bt-width-7 { border-top-width: 7px; }
.br-width-7 { border-right-width: 7px; }
.bb-width-7 { border-bottom-width: 7px; }
.bl-width-7 { border-left-width: 7px; }

.b-width-8  { border-width: 8px; }
.bt-width-8 { border-top-width: 8px; }
.br-width-8 { border-right-width: 8px; }
.bb-width-8 { border-bottom-width: 8px; }
.bl-width-8 { border-left-width: 8px; }

.b-width-9  { border-width: 9px; }
.bt-width-9 { border-top-width: 9px; }
.br-width-9 { border-right-width: 9px; }
.bb-width-9 { border-bottom-width: 9px; }
.bl-width-9 { border-left-width: 9px; }

.b-width-10  { border-width: 10px; }
.bt-width-10 { border-top-width: 10px; }
.br-width-10 { border-right-width: 10px; }
.bb-width-10 { border-bottom-width: 10px; }
.bl-width-10 { border-left-width: 10px; }

/* Border Color */
/* 
Note that most of these colors will be generated
by colors set in the config.
*/

.b-transparent  { border-color: transparent; }
.bt-transparent { border-top-color: transparent; }
.br-transparent { border-right-color: transparent; }
.bb-transparent { border-bottom-color: transparent; }
.bl-transparent { border-left-color: transparent; }

.b-currentcolor  { border-color: currentColor; }
.bt-currentcolor { border-top-color: currentColor; }
.br-currentcolor { border-right-color: currentColor; }
.bb-currentcolor { border-bottom-color: currentColor; }
.bl-currentcolor { border-left-color: currentColor }

/* Border Radius */

.b-radius-100 { border-radius: 100%; }
.pill {  border-radius: 9999px; }

.b-radius-none  {
  border-radius: initial;
}
.bt-radius-none {
  border-top-left-radius: initial;
  border-top-right-radius: initial;
}
.br-radius-none {
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
}
.bb-radius-none {
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
}
.bl-radius-none {
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}

/* TODO: should I add more hardcoded radius classes??? */

.b-radius-0  {
  border-radius: 0px;
}
.bt-radius-0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.br-radius-0 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bb-radius-0 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bl-radius-0 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.b-radius-1  {
  border-radius: 1px;
}
.bt-radius-1 {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.br-radius-1 {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.bb-radius-1 {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.bl-radius-1 {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

