.b-solid  { border-style: solid; }
.b-dashed { border-style: dashed; }
.b-dotted { border-style: dotted; }
.b-double { border-style: double; }
.b-groove { border-style: groove; }
.b-inset  { border-style: inset; }
.b-outset { border-style: outset; }
.b-ridge  { border-style: ridge; }

.bt-solid  { border-top-style: solid; }
.bt-dashed { border-top-style: dashed; }
.bt-dotted { border-top-style: dotted; }
.bt-double { border-top-style: double; }
.bt-groove { border-top-style: groove; }
.bt-inset  { border-top-style: inset; }
.bt-outset { border-top-style: outset; }
.bt-ridge  { border-top-style: ridge; }

.br-solid  { border-right-style: solid; }
.br-dashed { border-right-style: dashed; }
.br-dotted { border-right-style: dotted; }
.br-double { border-right-style: double; }
.br-groove { border-right-style: groove; }
.br-inset  { border-right-style: inset; }
.br-outset { border-right-style: outset; }
.br-ridge  { border-right-style: ridge; }

.bb-solid  { border-bottom-style: solid; }
.bb-dashed { border-bottom-style: dashed; }
.bb-dotted { border-bottom-style: dotted; }
.bb-double { border-bottom-style: double; }
.bb-groove { border-bottom-style: groove; }
.bb-inset  { border-bottom-style: inset; }
.bb-outset { border-bottom-style: outset; }
.bb-ridge  { border-bottom-style: ridge; }

.bl-solid  { border-left-style: solid; }
.bl-dashed { border-left-style: dashed; }
.bl-dotted { border-left-style: dotted; }
.bl-double { border-left-style: double; }
.bl-groove { border-left-style: groove; }
.bl-inset  { border-left-style: inset; }
.bl-outset { border-left-style: outset; }
.bl-ridge  { border-left-style: ridge; }

.b-width-0 { border-width: 0; }
.b-radius-100 { border-radius: 100%; }
.pill {  border-radius: 9999px; }

.b-transparent  { border-color: transparent; }
.bt-transparent { border-top-color: transparent; }
.br-transparent { border-right-color: transparent; }
.bb-transparent { border-bottom-color: transparent; }
.bl-transparent { border-left-color: transparent; }
