.m0  { margin:        0; }
.mt0 { margin-top:    0; }
.mr0 { margin-right:  0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left:   0; }
.mx0 { margin-left:   0; margin-right:  0 }
.my0 { margin-top:    0; margin-bottom: 0 }

.mt1 { margin-top:    var(--margin-1) }
.mr1 { margin-right:  var(--margin-1) }
.m1  { margin:        var(--margin-1) }
.mb1 { margin-bottom: var(--margin-1) }
.ml1 { margin-left:   var(--margin-1) }
.mx1 { margin-left:   var(--margin-1); margin-right: var(--margin-1); }
.my1 { margin-top:    var(--margin-1); margin-bottom: var(--margin-1); }

.m2  { margin:        var(--margin-2); }
.mt2 { margin-top:    var(--margin-2); }
.mr2 { margin-right:  var(--margin-2); }
.mb2 { margin-bottom: var(--margin-2); }
.ml2 { margin-left:   var(--margin-2); }
.mx2 { margin-left:   var(--margin-2); margin-right:  var(--margin-2); }
.my2 { margin-top:    var(--margin-2); margin-bottom: var(--margin-2); }

.m3  { margin:        var(--margin-3); }
.mt3 { margin-top:    var(--margin-3); }
.mr3 { margin-right:  var(--margin-3); }
.mb3 { margin-bottom: var(--margin-3); }
.ml3 { margin-left:   var(--margin-3); }
.mx3 { margin-left:   var(--margin-3); margin-right:  var(--margin-3); }
.my3 { margin-top:    var(--margin-3); margin-bottom: var(--margin-3); }

.m4  { margin:        var(--margin-4); }
.mt4 { margin-top:    var(--margin-4); }
.mr4 { margin-right:  var(--margin-4); }
.mb4 { margin-bottom: var(--margin-4); }
.ml4 { margin-left:   var(--margin-4); }
.mx4 { margin-left:   var(--margin-4); margin-right:  var(--margin-4); }
.my4 { margin-top:    var(--margin-4); margin-bottom: var(--margin-4); }

.m5  { margin:        var(--margin-5); }
.mt5 { margin-top:    var(--margin-5); }
.mr5 { margin-right:  var(--margin-5); }
.mb5 { margin-bottom: var(--margin-5); }
.ml5 { margin-left:   var(--margin-5); }
.mx5 { margin-left:   var(--margin-5); margin-right:  var(--margin-5); }
.my5 { margin-top:    var(--margin-5); margin-bottom: var(--margin-5); }

.m6  { margin:        var(--margin-6); }
.mt6 { margin-top:    var(--margin-6); }
.mr6 { margin-right:  var(--margin-6); }
.mb6 { margin-bottom: var(--margin-6); }
.ml6 { margin-left:   var(--margin-6); }
.mx6 { margin-left:   var(--margin-6); margin-right:  var(--margin-6); }
.my6 { margin-top:    var(--margin-6); margin-bottom: var(--margin-6); }

.m7  { margin:        var(--margin-7); }
.mt7 { margin-top:    var(--margin-7); }
.mr7 { margin-right:  var(--margin-7); }
.mb7 { margin-bottom: var(--margin-7); }
.ml7 { margin-left:   var(--margin-7); }
.mx7 { margin-left:   var(--margin-7); margin-right:  var(--margin-7); }
.my7 { margin-top:    var(--margin-7); margin-bottom: var(--margin-7); }

.m8  { margin:        var(--margin-8); }
.mt8 { margin-top:    var(--margin-8); }
.mr8 { margin-right:  var(--margin-8); }
.mb8 { margin-bottom: var(--margin-8); }
.ml8 { margin-left:   var(--margin-8); }
.mx8 { margin-left:   var(--margin-8); margin-right:  var(--margin-8); }
.my8 { margin-top:    var(--margin-8); margin-bottom: var(--margin-8); }

.m9  { margin:        var(--margin-9); }
.mt9 { margin-top:    var(--margin-9); }
.mr9 { margin-right:  var(--margin-9); }
.mb9 { margin-bottom: var(--margin-9); }
.ml9 { margin-left:   var(--margin-9); }
.mx9 { margin-left:   var(--margin-9); margin-right:  var(--margin-9); }
.my9 { margin-top:    var(--margin-9); margin-bottom: var(--margin-9); }

.m-auto  { margin: auto; }
.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }