/* Position */

.pos-s      { position: static; }
.pos-r      { position: relative; }
.pos-a      { position: absolute; }
.pos-f      { position: fixed; }
.pos-sticky { position: sticky; }

.top-0       { top: 0px; }
.top-\.25    { top: .25rem; }
.top-\.5     { top: .5rem; }
.top-\.75    { top: .75rem; }
.top-1       { top: 1rem; }
.top-1\.25   { top: 1.25rem; }
.top-1\.5    { top: 1.5rem; }
.top-1\.75   { top: 1.75rem; }
.top-2      { top: 2rem; }
.top-2\.25   { top: 2.25rem; }
.top-2\.5    { top: 2.5rem; }
.top-2\.75   { top: 2.75rem; }
.top-3      { top: 3rem; }
.top-3\.25   { top: 3.25rem; }
.top-3\.5    { top: 3.5rem; }
.top-3\.75   { top: 3.75rem; }
.top-4      { top: 4rem; }
.top-4\.25   { top: 4.25rem; }
.top-4\.5    { top: 4.5rem; }
.top-4\.75   { top: 4.75rem; }
.top-5      { top: 5rem; }
.top-5\.25   { top: 5.25rem; }
.top-5\.5    { top: 5.5rem; }
.top-5\.75   { top: 5.75rem; }
.top-6      { top: 6rem; }
.top-6\.25   { top: 6.25rem; }
.top-6\.5    { top: 6.5rem; }
.top-6\.75   { top: 6.75rem; }
.top-7      { top: 7rem; }
.top-7\.25   { top: 7.25rem; }
.top-7\.5    { top: 7.5rem; }
.top-7\.75   { top: 7.75rem; }
.top-8      { top: 8rem; }
.top-8\.25   { top: 8.25rem; }
.top-8\.5    { top: 8.5rem; }
.top-8\.75   { top: 8.75rem; }
.top-9      { top: 9rem; }
.top-9\.25   { top: 9.25rem; }
.top-9\.5    { top: 9.5rem; }
.top-9\.75   { top: 9.75rem; }
.top-10     { top: 10rem; }

.right-0       { right: 0px; }
.right-\.25    { right: .25rem; }
.right-\.5     { right: .5rem; }
.right-\.75    { right: .75rem; }
.right-1       { right: 1rem; }
.right-1\.25   { right: 1.25rem; }
.right-1\.5    { right: 1.5rem; }
.right-1\.75   { right: 1.75rem; }
.right-2      { right: 2rem; }
.right-2\.25   { right: 2.25rem; }
.right-2\.5    { right: 2.5rem; }
.right-2\.75   { right: 2.75rem; }
.right-3      { right: 3rem; }
.right-3\.25   { right: 3.25rem; }
.right-3\.5    { right: 3.5rem; }
.right-3\.75   { right: 3.75rem; }
.right-4      { right: 4rem; }
.right-4\.25   { right: 4.25rem; }
.right-4\.5    { right: 4.5rem; }
.right-4\.75   { right: 4.75rem; }
.right-5      { right: 5rem; }
.right-5\.25   { right: 5.25rem; }
.right-5\.5    { right: 5.5rem; }
.right-5\.75   { right: 5.75rem; }
.right-6      { right: 6rem; }
.right-6\.25   { right: 6.25rem; }
.right-6\.5    { right: 6.5rem; }
.right-6\.75   { right: 6.75rem; }
.right-7      { right: 7rem; }
.right-7\.25   { right: 7.25rem; }
.right-7\.5    { right: 7.5rem; }
.right-7\.75   { right: 7.75rem; }
.right-8      { right: 8rem; }
.right-8\.25   { right: 8.25rem; }
.right-8\.5    { right: 8.5rem; }
.right-8\.75   { right: 8.75rem; }
.right-9      { right: 9rem; }
.right-9\.25   { right: 9.25rem; }
.right-9\.5    { right: 9.5rem; }
.right-9\.75   { right: 9.75rem; }
.right-10     { right: 10rem; }

.bottom-0       { bottom: 0px; }
.bottom-\.25    { bottom: .25rem; }
.bottom-\.5     { bottom: .5rem; }
.bottom-\.75    { bottom: .75rem; }
.bottom-1       { bottom: 1rem; }
.bottom-1\.25   { bottom: 1.25rem; }
.bottom-1\.5    { bottom: 1.5rem; }
.bottom-1\.75   { bottom: 1.75rem; }
.bottom-2      { bottom: 2rem; }
.bottom-2\.25   { bottom: 2.25rem; }
.bottom-2\.5    { bottom: 2.5rem; }
.bottom-2\.75   { bottom: 2.75rem; }
.bottom-3      { bottom: 3rem; }
.bottom-3\.25   { bottom: 3.25rem; }
.bottom-3\.5    { bottom: 3.5rem; }
.bottom-3\.75   { bottom: 3.75rem; }
.bottom-4      { bottom: 4rem; }
.bottom-4\.25   { bottom: 4.25rem; }
.bottom-4\.5    { bottom: 4.5rem; }
.bottom-4\.75   { bottom: 4.75rem; }
.bottom-5      { bottom: 5rem; }
.bottom-5\.25   { bottom: 5.25rem; }
.bottom-5\.5    { bottom: 5.5rem; }
.bottom-5\.75   { bottom: 5.75rem; }
.bottom-6      { bottom: 6rem; }
.bottom-6\.25   { bottom: 6.25rem; }
.bottom-6\.5    { bottom: 6.5rem; }
.bottom-6\.75   { bottom: 6.75rem; }
.bottom-7      { bottom: 7rem; }
.bottom-7\.25   { bottom: 7.25rem; }
.bottom-7\.5    { bottom: 7.5rem; }
.bottom-7\.75   { bottom: 7.75rem; }
.bottom-8      { bottom: 8rem; }
.bottom-8\.25   { bottom: 8.25rem; }
.bottom-8\.5    { bottom: 8.5rem; }
.bottom-8\.75   { bottom: 8.75rem; }
.bottom-9      { bottom: 9rem; }
.bottom-9\.25   { bottom: 9.25rem; }
.bottom-9\.5    { bottom: 9.5rem; }
.bottom-9\.75   { bottom: 9.75rem; }
.bottom-10     { bottom: 10rem; }

.left-0       { left: 0px; }
.left-\.25    { left: .25rem; }
.left-\.5     { left: .5rem; }
.left-\.75    { left: .75rem; }
.left-1       { left: 1rem; }
.left-1\.25   { left: 1.25rem; }
.left-1\.5    { left: 1.5rem; }
.left-1\.75   { left: 1.75rem; }
.left-2      { left: 2rem; }
.left-2\.25   { left: 2.25rem; }
.left-2\.5    { left: 2.5rem; }
.left-2\.75   { left: 2.75rem; }
.left-3      { left: 3rem; }
.left-3\.25   { left: 3.25rem; }
.left-3\.5    { left: 3.5rem; }
.left-3\.75   { left: 3.75rem; }
.left-4      { left: 4rem; }
.left-4\.25   { left: 4.25rem; }
.left-4\.5    { left: 4.5rem; }
.left-4\.75   { left: 4.75rem; }
.left-5      { left: 5rem; }
.left-5\.25   { left: 5.25rem; }
.left-5\.5    { left: 5.5rem; }
.left-5\.75   { left: 5.75rem; }
.left-6      { left: 6rem; }
.left-6\.25   { left: 6.25rem; }
.left-6\.5    { left: 6.5rem; }
.left-6\.75   { left: 6.75rem; }
.left-7      { left: 7rem; }
.left-7\.25   { left: 7.25rem; }
.left-7\.5    { left: 7.5rem; }
.left-7\.75   { left: 7.75rem; }
.left-8      { left: 8rem; }
.left-8\.25   { left: 8.25rem; }
.left-8\.5    { left: 8.5rem; }
.left-8\.75   { left: 8.75rem; }
.left-9      { left: 9rem; }
.left-9\.25   { left: 9.25rem; }
.left-9\.5    { left: 9.5rem; }
.left-9\.75   { left: 9.75rem; }
.left-10     { left: 10rem; }