/* Font Weight */
.thin       { font-weight: 100; }
.extra-lite { font-weight: 200; }
.light      { font-weight: 300; }
.regular    { font-weight: 400; }
.normal     { font-weight: normal; }
.medium     { font-weight: 500; }
.semi-bold  { font-weight: 600; }
.bold       { font-weight: 700; }
.extra-bold { font-weight: 800; }
.black      { font-weight: 900; }

/* Text Decoration */
.underline       { text-decoration: underline; }
.overline        { text-decoration: overline; }
.strike          { text-decoration: line-through; }
.decoration-none { text-decoration: none; }

/* Text Transform */
.uppercase           { text-transform: uppercase; }
.lowercase           { text-transform: lowercase; }
.capitalize          { text-transform: capitalize; }
.text-transform-none { text-transform: none; }


/* Word and Line Wrap */
.nowrap     { white-space: nowrap; }
.break-word { overflow-wrap: break-word; }
.break-all  { word-break: break-all; }
.prewrap    { white-space: pre-wrap; }
.preline    { white-space: pre-line; }


/* Text Align */
.left    { text-align: left; }
.center  { text-align: center; }
.right   { text-align: right; }
.justify { text-align: justify; }

/* font-size */
.size-0  { font-size: 0px; }
.size-1  { font-size: 1px; }
.size-2  { font-size: 2px; }
.size-3  { font-size: 3px; }
.size-4  { font-size: 4px; }
.size-5  { font-size: 5px; }
.size-6  { font-size: 6px; }
.size-7  { font-size: 7px; }
.size-8  { font-size: 8px; }
.size-9  { font-size: 9px; }
.size-10 { font-size: 10px; }
.size-11 { font-size: 11px; }
.size-12 { font-size: 12px; }
.size-13 { font-size: 13px; }
.size-14 { font-size: 14px; }
.size-15 { font-size: 15px; }
.size-16 { font-size: 16px; }
.size-17 { font-size: 17px; }
.size-18 { font-size: 18px; }
.size-19 { font-size: 19px; }
.size-20 { font-size: 20px; }
.size-21 { font-size: 21px; }
.size-22 { font-size: 22px; }
.size-23 { font-size: 23px; }
.size-24 { font-size: 24px; }
.size-25 { font-size: 25px; }
.size-26 { font-size: 26px; }
.size-27 { font-size: 27px; }
.size-28 { font-size: 28px; }
.size-29 { font-size: 29px; }
.size-30 { font-size: 30px; }
.size-31 { font-size: 31px; }
.size-32 { font-size: 32px; }
.size-33 { font-size: 33px; }
.size-34 { font-size: 34px; }
.size-35 { font-size: 35px; }
.size-36 { font-size: 36px; }
.size-37 { font-size: 37px; }
.size-38 { font-size: 38px; }
.size-39 { font-size: 39px; }
.size-40 { font-size: 40px; }
.size-41 { font-size: 41px; }
.size-42 { font-size: 42px; }
.size-43 { font-size: 43px; }
.size-44 { font-size: 44px; }
.size-45 { font-size: 45px; }
.size-46 { font-size: 46px; }
.size-47 { font-size: 47px; }
.size-48 { font-size: 48px; }
.size-49 { font-size: 49px; }
.size-50 { font-size: 50px; }
.size-51 { font-size: 51px; }
.size-52 { font-size: 52px; }
.size-53 { font-size: 53px; }
.size-54 { font-size: 54px; }
.size-55 { font-size: 55px; }
.size-56 { font-size: 56px; }
.size-57 { font-size: 57px; }
.size-58 { font-size: 58px; }
.size-59 { font-size: 59px; }
.size-60 { font-size: 60px; }
.size-61 { font-size: 61px; }
.size-62 { font-size: 62px; }
.size-63 { font-size: 63px; }
.size-64 { font-size: 64px; }
.size-65 { font-size: 65px; }
.size-66 { font-size: 66px; }
.size-67 { font-size: 67px; }
.size-68 { font-size: 68px; }
.size-69 { font-size: 69px; }
.size-70 { font-size: 70px; }
.size-71 { font-size: 71px; }
.size-72 { font-size: 72px; }
.size-73 { font-size: 73px; }
.size-74 { font-size: 74px; }
.size-75 { font-size: 75px; }
.size-76 { font-size: 76px; }
.size-77 { font-size: 77px; }
.size-78 { font-size: 78px; }
.size-79 { font-size: 79px; }
.size-80 { font-size: 80px; }
