.vis-visible  { visibility: visible; }
.vis-hidden   { visibility: hidden; }
.vis-collapse { visibility: collapse; }
.vis-inherit  { visibility: inherit; }
.vis-initial  { visibility: initial; }
.vis-unset  { visibility: unset; }