.w5 { width: 5%; }
.w10 { width: 10%; }
.w15 { width: 15%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w66 { width: 66%; }
.w70 { width: 70%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }

.vw5 { width: 5vw; }
.vw10 { width: 10vw; }
.vw15 { width: 15vw; }
.vw20 { width: 20vw; }
.vw25 { width: 25vw; }
.vw30 { width: 30vw; }
.vw33 { width: 33vw; }
.vw40 { width: 40vw; }
.vw50 { width: 50vw; }
.vw60 { width: 60vw; }
.vw66 { width: 66vw; }
.vw70 { width: 70vw; }
.vw80 { width: 80vw; }
.vw90 { width: 90vw; }
.vw100 { width: 100vw; }

.wrem-\.25    { width: .25rem; }
.wrem-\.5     { width: .5rem; }
.wrem-\.75    { width: .75rem; }
.wrem-1      { width: 1rem; }
.wrem-1\.25   { width: 1.25rem; }
.wrem-1\.5    { width: 1.5rem; }
.wrem-1\.75   { width: 1.75rem; }
.wrem-2      { width: 2rem; }
.wrem-2\.25   { width: 2.25rem; }
.wrem-2\.5    { width: 2.5rem; }
.wrem-2\.75   { width: 2.75rem; }
.wrem-3      { width: 3rem; }
.wrem-3\.25   { width: 3.25rem; }
.wrem-3\.5    { width: 3.5rem; }
.wrem-3\.75   { width: 3.75rem; }
.wrem-4      { width: 4rem; }
.wrem-4\.25   { width: 4.25rem; }
.wrem-4\.5    { width: 4.5rem; }
.wrem-4\.75   { width: 4.75rem; }
.wrem-5      { width: 5rem; }
.wrem-5\.25   { width: 5.25rem; }
.wrem-5\.5    { width: 5.5rem; }
.wrem-5\.75   { width: 5.75rem; }
.wrem-6      { width: 6rem; }
.wrem-6\.25   { width: 6.25rem; }
.wrem-6\.5    { width: 6.5rem; }
.wrem-6\.75   { width: 6.75rem; }
.wrem-7      { width: 7rem; }
.wrem-7\.25   { width: 7.25rem; }
.wrem-7\.5    { width: 7.5rem; }
.wrem-7\.75   { width: 7.75rem; }
.wrem-8      { width: 8rem; }
.wrem-8\.25   { width: 8.25rem; }
.wrem-8\.5    { width: 8.5rem; }
.wrem-8\.75   { width: 8.75rem; }
.wrem-9      { width: 9rem; }
.wrem-9\.25   { width: 9.25rem; }
.wrem-9\.5    { width: 9.5rem; }
.wrem-9\.75   { width: 9.75rem; }
.wrem-10     { width: 10rem; }
.wrem-10\.25  { width: 10.25rem; }
.wrem-10\.5   { width: 10.5rem; }
.wrem-10\.75  { width: 10.75rem; }
.wrem-11     { width: 11rem; }
.wrem-11\.25  { width: 11.25rem; }
.wrem-11\.5   { width: 11.5rem; }
.wrem-11\.75  { width: 11.75rem; }
.wrem-12     { width: 12rem; }
.wrem-12\.25  { width: 12.25rem; }
.wrem-12\.5   { width: 12.5rem; }
.wrem-12\.75  { width: 12.75rem; }
.wrem-13     { width: 13rem; }
.wrem-13\.25  { width: 13.25rem; }
.wrem-13\.5   { width: 13.5rem; }
.wrem-13\.75  { width: 13.75rem; }
.wrem-14     { width: 14rem; }
.wrem-14\.25  { width: 14.25rem; }
.wrem-14\.5   { width: 14.5rem; }
.wrem-14\.75  { width: 14.75rem; }
.wrem-15     { width: 15rem; }
.wrem-15\.25  { width: 15.25rem; }
.wrem-15\.5   { width: 15.5rem; }
.wrem-15\.75  { width: 15.75rem; }
.wrem-16     { width: 16rem; }
.wrem-16\.25  { width: 16.25rem; }
.wrem-16\.5   { width: 16.5rem; }
.wrem-16\.75  { width: 16.75rem; }
.wrem-17     { width: 17rem; }
.wrem-17\.25  { width: 17.25rem; }
.wrem-17\.5   { width: 17.5rem; }
.wrem-17\.75  { width: 17.75rem; }
.wrem-18     { width: 18rem; }
.wrem-18\.25  { width: 18.25rem; }
.wrem-18\.5   { width: 18.5rem; }
.wrem-18\.75  { width: 18.75rem; }
.wrem-19     { width: 19rem; }
.wrem-19\.25  { width: 19.25rem; }
.wrem-19\.5   { width: 19.5rem; }
.wrem-19\.75  { width: 19.75rem; }
.wrem-20     { width: 20rem; }
.wrem-20\.25  { width: 20.25rem; }
.wrem-20\.5   { width: 20.5rem; }
.wrem-20\.75  { width: 20.75rem; }
.wrem-21     { width: 21rem; }
.wrem-21\.25  { width: 21.25rem; }
.wrem-21\.5   { width: 21.5rem; }
.wrem-21\.75  { width: 21.75rem; }
.wrem-22     { width: 22rem; }
.wrem-22\.25  { width: 22.25rem; }
.wrem-22\.5   { width: 22.5rem; }
.wrem-22\.75  { width: 22.75rem; }
.wrem-23     { width: 23rem; }
.wrem-23\.25  { width: 23.25rem; }
.wrem-23\.5   { width: 23.5rem; }
.wrem-23\.75  { width: 23.75rem; }
.wrem-24     { width: 24rem; }
.wrem-24\.25  { width: 24.25rem; }
.wrem-24\.5   { width: 24.5rem; }
.wrem-24\.75  { width: 24.75rem; }
.wrem-25     { width: 25rem; }
.wrem-25\.25  { width: 25.25rem; }
.wrem-25\.5   { width: 25.5rem; }
.wrem-25\.75  { width: 25.75rem; }
.wrem-26     { width: 26rem; }
.wrem-26\.25  { width: 26.25rem; }
.wrem-26\.5   { width: 26.5rem; }
.wrem-26\.75  { width: 26.75rem; }
.wrem-27     { width: 27rem; }
.wrem-27\.25  { width: 27.25rem; }
.wrem-27\.5   { width: 27.5rem; }
.wrem-27\.75  { width: 27.75rem; }
.wrem-28     { width: 28rem; }
.wrem-28\.25  { width: 28.25rem; }
.wrem-28\.5   { width: 28.5rem; }
.wrem-28\.75  { width: 28.75rem; }
.wrem-29     { width: 29rem; }
.wrem-29\.25  { width: 29.25rem; }
.wrem-29\.5   { width: 29.5rem; }
.wrem-29\.75  { width: 29.75rem; }
.wrem-30     { width: 30rem; }
.wrem-30\.25  { width: 30.25rem; }
.wrem-30\.5   { width: 30.5rem; }
.wrem-30\.75  { width: 30.75rem; }
.wrem-31     { width: 31rem; }
.wrem-31\.25  { width: 31.25rem; }
.wrem-31\.5   { width: 31.5rem; }
.wrem-31\.75  { width: 31.75rem; }
.wrem-32     { width: 32rem; }
.wrem-32\.25  { width: 32.25rem; }
.wrem-32\.5   { width: 32.5rem; }
.wrem-32\.75  { width: 32.75rem; }
.wrem-33     { width: 33rem; }
.wrem-33\.25  { width: 33.25rem; }
.wrem-33\.5   { width: 33.5rem; }
.wrem-33\.75  { width: 33.75rem; }
.wrem-34     { width: 34rem; }
.wrem-34\.25  { width: 34.25rem; }
.wrem-34\.5   { width: 34.5rem; }
.wrem-34\.75  { width: 34.75rem; }
.wrem-35     { width: 35rem; }
.wrem-35\.25  { width: 35.25rem; }
.wrem-35\.5   { width: 35.5rem; }
.wrem-35\.75  { width: 35.75rem; }
.wrem-36     { width: 36rem; }
.wrem-36\.25  { width: 36.25rem; }
.wrem-36\.5   { width: 36.5rem; }
.wrem-36\.75  { width: 36.75rem; }
.wrem-37     { width: 37rem; }
.wrem-37\.25  { width: 37.25rem; }
.wrem-37\.5   { width: 37.5rem; }
.wrem-37\.75  { width: 37.75rem; }
.wrem-38     { width: 38rem; }
.wrem-38\.25  { width: 38.25rem; }
.wrem-38\.5   { width: 38.5rem; }
.wrem-38\.75  { width: 38.75rem; }
.wrem-39     { width: 39rem; }
.wrem-39\.25  { width: 39.25rem; }
.wrem-39\.5   { width: 39.5rem; }
.wrem-39\.75  { width: 39.75rem; }
.wrem-40     { width: 40rem; }

.max-w0 { max-width: 0; }
.max-w5 { max-width: 5%; }
.max-w10 { max-width: 10%; }
.max-w15 { max-width: 15%; }
.max-w20 { max-width: 20%; }
.max-w25 { max-width: 25%; }
.max-w30 { max-width: 30%; }
.max-w33 { max-width: 33%; }
.max-w40 { max-width: 40%; }
.max-w50 { max-width: 50%; }
.max-w60 { max-width: 60%; }
.max-w66 { max-width: 66%; }
.max-w70 { max-width: 70%; }
.max-w80 { max-width: 80%; }
.max-w90 { max-width: 90%; }
.max-w100 { max-width: 100%; }

.max-vw5 { max-width: 5vw; }
.max-vw10 { max-width: 10vw; }
.max-vw15 { max-width: 15vw; }
.max-vw20 { max-width: 20vw; }
.max-vw25 { max-width: 25vw; }
.max-vw30 { max-width: 30vw; }
.max-vw33 { max-width: 33vw; }
.max-vw40 { max-width: 40vw; }
.max-vw50 { max-width: 50vw; }
.max-vw60 { max-width: 60vw; }
.max-vw66 { max-width: 66vw; }
.max-vw70 { max-width: 70vw; }
.max-vw80 { max-width: 80vw; }
.max-vw90 { max-width: 90vw; }
.max-vw100 { max-width: 100vw; }

.max-wrem-\.25    { max-width: .25rem; }
.max-wrem-\.5     { max-width: .5rem; }
.max-wrem-\.75    { max-width: .75rem; }
.max-wrem-1      { max-width: 1rem; }
.max-wrem-1\.25   { max-width: 1.25rem; }
.max-wrem-1\.5    { max-width: 1.5rem; }
.max-wrem-1\.75   { max-width: 1.75rem; }
.max-wrem-2      { max-width: 2rem; }
.max-wrem-2\.25   { max-width: 2.25rem; }
.max-wrem-2\.5    { max-width: 2.5rem; }
.max-wrem-2\.75   { max-width: 2.75rem; }
.max-wrem-3      { max-width: 3rem; }
.max-wrem-3\.25   { max-width: 3.25rem; }
.max-wrem-3\.5    { max-width: 3.5rem; }
.max-wrem-3\.75   { max-width: 3.75rem; }
.max-wrem-4      { max-width: 4rem; }
.max-wrem-4\.25   { max-width: 4.25rem; }
.max-wrem-4\.5    { max-width: 4.5rem; }
.max-wrem-4\.75   { max-width: 4.75rem; }
.max-wrem-5      { max-width: 5rem; }
.max-wrem-5\.25   { max-width: 5.25rem; }
.max-wrem-5\.5    { max-width: 5.5rem; }
.max-wrem-5\.75   { max-width: 5.75rem; }
.max-wrem-6      { max-width: 6rem; }
.max-wrem-6\.25   { max-width: 6.25rem; }
.max-wrem-6\.5    { max-width: 6.5rem; }
.max-wrem-6\.75   { max-width: 6.75rem; }
.max-wrem-7      { max-width: 7rem; }
.max-wrem-7\.25   { max-width: 7.25rem; }
.max-wrem-7\.5    { max-width: 7.5rem; }
.max-wrem-7\.75   { max-width: 7.75rem; }
.max-wrem-8      { max-width: 8rem; }
.max-wrem-8\.25   { max-width: 8.25rem; }
.max-wrem-8\.5    { max-width: 8.5rem; }
.max-wrem-8\.75   { max-width: 8.75rem; }
.max-wrem-9      { max-width: 9rem; }
.max-wrem-9\.25   { max-width: 9.25rem; }
.max-wrem-9\.5    { max-width: 9.5rem; }
.max-wrem-9\.75   { max-width: 9.75rem; }
.max-wrem-10     { max-width: 10rem; }
.max-wrem-10\.25  { max-width: 10.25rem; }
.max-wrem-10\.5   { max-width: 10.5rem; }
.max-wrem-10\.75  { max-width: 10.75rem; }
.max-wrem-11     { max-width: 11rem; }
.max-wrem-11\.25  { max-width: 11.25rem; }
.max-wrem-11\.5   { max-width: 11.5rem; }
.max-wrem-11\.75  { max-width: 11.75rem; }
.max-wrem-12     { max-width: 12rem; }
.max-wrem-12\.25  { max-width: 12.25rem; }
.max-wrem-12\.5   { max-width: 12.5rem; }
.max-wrem-12\.75  { max-width: 12.75rem; }
.max-wrem-13     { max-width: 13rem; }
.max-wrem-13\.25  { max-width: 13.25rem; }
.max-wrem-13\.5   { max-width: 13.5rem; }
.max-wrem-13\.75  { max-width: 13.75rem; }
.max-wrem-14     { max-width: 14rem; }
.max-wrem-14\.25  { max-width: 14.25rem; }
.max-wrem-14\.5   { max-width: 14.5rem; }
.max-wrem-14\.75  { max-width: 14.75rem; }
.max-wrem-15     { max-width: 15rem; }
.max-wrem-15\.25  { max-width: 15.25rem; }
.max-wrem-15\.5   { max-width: 15.5rem; }
.max-wrem-15\.75  { max-width: 15.75rem; }
.max-wrem-16     { max-width: 16rem; }
.max-wrem-16\.25  { max-width: 16.25rem; }
.max-wrem-16\.5   { max-width: 16.5rem; }
.max-wrem-16\.75  { max-width: 16.75rem; }
.max-wrem-17     { max-width: 17rem; }
.max-wrem-17\.25  { max-width: 17.25rem; }
.max-wrem-17\.5   { max-width: 17.5rem; }
.max-wrem-17\.75  { max-width: 17.75rem; }
.max-wrem-18     { max-width: 18rem; }
.max-wrem-18\.25  { max-width: 18.25rem; }
.max-wrem-18\.5   { max-width: 18.5rem; }
.max-wrem-18\.75  { max-width: 18.75rem; }
.max-wrem-19     { max-width: 19rem; }
.max-wrem-19\.25  { max-width: 19.25rem; }
.max-wrem-19\.5   { max-width: 19.5rem; }
.max-wrem-19\.75  { max-width: 19.75rem; }
.max-wrem-20     { max-width: 20rem; }
.max-wrem-20\.25  { max-width: 20.25rem; }
.max-wrem-20\.5   { max-width: 20.5rem; }
.max-wrem-20\.75  { max-width: 20.75rem; }
.max-wrem-21     { max-width: 21rem; }
.max-wrem-21\.25  { max-width: 21.25rem; }
.max-wrem-21\.5   { max-width: 21.5rem; }
.max-wrem-21\.75  { max-width: 21.75rem; }
.max-wrem-22     { max-width: 22rem; }
.max-wrem-22\.25  { max-width: 22.25rem; }
.max-wrem-22\.5   { max-width: 22.5rem; }
.max-wrem-22\.75  { max-width: 22.75rem; }
.max-wrem-23     { max-width: 23rem; }
.max-wrem-23\.25  { max-width: 23.25rem; }
.max-wrem-23\.5   { max-width: 23.5rem; }
.max-wrem-23\.75  { max-width: 23.75rem; }
.max-wrem-24     { max-width: 24rem; }
.max-wrem-24\.25  { max-width: 24.25rem; }
.max-wrem-24\.5   { max-width: 24.5rem; }
.max-wrem-24\.75  { max-width: 24.75rem; }
.max-wrem-25     { max-width: 25rem; }
.max-wrem-25\.25  { max-width: 25.25rem; }
.max-wrem-25\.5   { max-width: 25.5rem; }
.max-wrem-25\.75  { max-width: 25.75rem; }
.max-wrem-26     { max-width: 26rem; }
.max-wrem-26\.25  { max-width: 26.25rem; }
.max-wrem-26\.5   { max-width: 26.5rem; }
.max-wrem-26\.75  { max-width: 26.75rem; }
.max-wrem-27     { max-width: 27rem; }
.max-wrem-27\.25  { max-width: 27.25rem; }
.max-wrem-27\.5   { max-width: 27.5rem; }
.max-wrem-27\.75  { max-width: 27.75rem; }
.max-wrem-28     { max-width: 28rem; }
.max-wrem-28\.25  { max-width: 28.25rem; }
.max-wrem-28\.5   { max-width: 28.5rem; }
.max-wrem-28\.75  { max-width: 28.75rem; }
.max-wrem-29     { max-width: 29rem; }
.max-wrem-29\.25  { max-width: 29.25rem; }
.max-wrem-29\.5   { max-width: 29.5rem; }
.max-wrem-29\.75  { max-width: 29.75rem; }
.max-wrem-30     { max-width: 30rem; }
.max-wrem-30\.25  { max-width: 30.25rem; }
.max-wrem-30\.5   { max-width: 30.5rem; }
.max-wrem-30\.75  { max-width: 30.75rem; }
.max-wrem-31     { max-width: 31rem; }
.max-wrem-31\.25  { max-width: 31.25rem; }
.max-wrem-31\.5   { max-width: 31.5rem; }
.max-wrem-31\.75  { max-width: 31.75rem; }
.max-wrem-32     { max-width: 32rem; }
.max-wrem-32\.25  { max-width: 32.25rem; }
.max-wrem-32\.5   { max-width: 32.5rem; }
.max-wrem-32\.75  { max-width: 32.75rem; }
.max-wrem-33     { max-width: 33rem; }
.max-wrem-33\.25  { max-width: 33.25rem; }
.max-wrem-33\.5   { max-width: 33.5rem; }
.max-wrem-33\.75  { max-width: 33.75rem; }
.max-wrem-34     { max-width: 34rem; }
.max-wrem-34\.25  { max-width: 34.25rem; }
.max-wrem-34\.5   { max-width: 34.5rem; }
.max-wrem-34\.75  { max-width: 34.75rem; }
.max-wrem-35     { max-width: 35rem; }
.max-wrem-35\.25  { max-width: 35.25rem; }
.max-wrem-35\.5   { max-width: 35.5rem; }
.max-wrem-35\.75  { max-width: 35.75rem; }
.max-wrem-36     { max-width: 36rem; }
.max-wrem-36\.25  { max-width: 36.25rem; }
.max-wrem-36\.5   { max-width: 36.5rem; }
.max-wrem-36\.75  { max-width: 36.75rem; }
.max-wrem-37     { max-width: 37rem; }
.max-wrem-37\.25  { max-width: 37.25rem; }
.max-wrem-37\.5   { max-width: 37.5rem; }
.max-wrem-37\.75  { max-width: 37.75rem; }
.max-wrem-38     { max-width: 38rem; }
.max-wrem-38\.25  { max-width: 38.25rem; }
.max-wrem-38\.5   { max-width: 38.5rem; }
.max-wrem-38\.75  { max-width: 38.75rem; }
.max-wrem-39     { max-width: 39rem; }
.max-wrem-39\.25  { max-width: 39.25rem; }
.max-wrem-39\.5   { max-width: 39.5rem; }
.max-wrem-39\.75  { max-width: 39.75rem; }
.max-wrem-40     { max-width: 40rem; }

.min-w0 { min-width: 0; }
.min-w5 { min-width: 5%; }
.min-w10 { min-width: 10%; }
.min-w15 { min-width: 15%; }
.min-w20 { min-width: 20%; }
.min-w25 { min-width: 25%; }
.min-w30 { min-width: 30%; }
.min-w33 { min-width: 33%; }
.min-w40 { min-width: 40%; }
.min-w50 { min-width: 50%; }
.min-w60 { min-width: 60%; }
.min-w66 { min-width: 66%; }
.min-w70 { min-width: 70%; }
.min-w80 { min-width: 80%; }
.min-w90 { min-width: 90%; }
.min-w100 { min-width: 100%; }

.min-vw5 { min-width: 5vw; }
.min-vw10 { min-width: 10vw; }
.min-vw15 { min-width: 15vw; }
.min-vw20 { min-width: 20vw; }
.min-vw25 { min-width: 25vw; }
.min-vw30 { min-width: 30vw; }
.min-vw33 { min-width: 33vw; }
.min-vw40 { min-width: 40vw; }
.min-vw50 { min-width: 50vw; }
.min-vw60 { min-width: 60vw; }
.min-vw66 { min-width: 66vw; }
.min-vw70 { min-width: 70vw; }
.min-vw80 { min-width: 80vw; }
.min-vw90 { min-width: 90vw; }
.min-vw100 { min-width: 100vw; }

.min-wrem-\.25    { min-width: .25rem; }
.min-wrem-\.5     { min-width: .5rem; }
.min-wrem-\.75    { min-width: .75rem; }
.min-wrem-1      { min-width: 1rem; }
.min-wrem-1\.25   { min-width: 1.25rem; }
.min-wrem-1\.5    { min-width: 1.5rem; }
.min-wrem-1\.75   { min-width: 1.75rem; }
.min-wrem-2      { min-width: 2rem; }
.min-wrem-2\.25   { min-width: 2.25rem; }
.min-wrem-2\.5    { min-width: 2.5rem; }
.min-wrem-2\.75   { min-width: 2.75rem; }
.min-wrem-3      { min-width: 3rem; }
.min-wrem-3\.25   { min-width: 3.25rem; }
.min-wrem-3\.5    { min-width: 3.5rem; }
.min-wrem-3\.75   { min-width: 3.75rem; }
.min-wrem-4      { min-width: 4rem; }
.min-wrem-4\.25   { min-width: 4.25rem; }
.min-wrem-4\.5    { min-width: 4.5rem; }
.min-wrem-4\.75   { min-width: 4.75rem; }
.min-wrem-5      { min-width: 5rem; }
.min-wrem-5\.25   { min-width: 5.25rem; }
.min-wrem-5\.5    { min-width: 5.5rem; }
.min-wrem-5\.75   { min-width: 5.75rem; }
.min-wrem-6      { min-width: 6rem; }
.min-wrem-6\.25   { min-width: 6.25rem; }
.min-wrem-6\.5    { min-width: 6.5rem; }
.min-wrem-6\.75   { min-width: 6.75rem; }
.min-wrem-7      { min-width: 7rem; }
.min-wrem-7\.25   { min-width: 7.25rem; }
.min-wrem-7\.5    { min-width: 7.5rem; }
.min-wrem-7\.75   { min-width: 7.75rem; }
.min-wrem-8      { min-width: 8rem; }
.min-wrem-8\.25   { min-width: 8.25rem; }
.min-wrem-8\.5    { min-width: 8.5rem; }
.min-wrem-8\.75   { min-width: 8.75rem; }
.min-wrem-9      { min-width: 9rem; }
.min-wrem-9\.25   { min-width: 9.25rem; }
.min-wrem-9\.5    { min-width: 9.5rem; }
.min-wrem-9\.75   { min-width: 9.75rem; }
.min-wrem-10     { min-width: 10rem; }
.min-wrem-10\.25  { min-width: 10.25rem; }
.min-wrem-10\.5   { min-width: 10.5rem; }
.min-wrem-10\.75  { min-width: 10.75rem; }
.min-wrem-11     { min-width: 11rem; }
.min-wrem-11\.25  { min-width: 11.25rem; }
.min-wrem-11\.5   { min-width: 11.5rem; }
.min-wrem-11\.75  { min-width: 11.75rem; }
.min-wrem-12     { min-width: 12rem; }
.min-wrem-12\.25  { min-width: 12.25rem; }
.min-wrem-12\.5   { min-width: 12.5rem; }
.min-wrem-12\.75  { min-width: 12.75rem; }
.min-wrem-13     { min-width: 13rem; }
.min-wrem-13\.25  { min-width: 13.25rem; }
.min-wrem-13\.5   { min-width: 13.5rem; }
.min-wrem-13\.75  { min-width: 13.75rem; }
.min-wrem-14     { min-width: 14rem; }
.min-wrem-14\.25  { min-width: 14.25rem; }
.min-wrem-14\.5   { min-width: 14.5rem; }
.min-wrem-14\.75  { min-width: 14.75rem; }
.min-wrem-15     { min-width: 15rem; }
.min-wrem-15\.25  { min-width: 15.25rem; }
.min-wrem-15\.5   { min-width: 15.5rem; }
.min-wrem-15\.75  { min-width: 15.75rem; }
.min-wrem-16     { min-width: 16rem; }
.min-wrem-16\.25  { min-width: 16.25rem; }
.min-wrem-16\.5   { min-width: 16.5rem; }
.min-wrem-16\.75  { min-width: 16.75rem; }
.min-wrem-17     { min-width: 17rem; }
.min-wrem-17\.25  { min-width: 17.25rem; }
.min-wrem-17\.5   { min-width: 17.5rem; }
.min-wrem-17\.75  { min-width: 17.75rem; }
.min-wrem-18     { min-width: 18rem; }
.min-wrem-18\.25  { min-width: 18.25rem; }
.min-wrem-18\.5   { min-width: 18.5rem; }
.min-wrem-18\.75  { min-width: 18.75rem; }
.min-wrem-19     { min-width: 19rem; }
.min-wrem-19\.25  { min-width: 19.25rem; }
.min-wrem-19\.5   { min-width: 19.5rem; }
.min-wrem-19\.75  { min-width: 19.75rem; }
.min-wrem-20     { min-width: 20rem; }
.min-wrem-20\.25  { min-width: 20.25rem; }
.min-wrem-20\.5   { min-width: 20.5rem; }
.min-wrem-20\.75  { min-width: 20.75rem; }
.min-wrem-21     { min-width: 21rem; }
.min-wrem-21\.25  { min-width: 21.25rem; }
.min-wrem-21\.5   { min-width: 21.5rem; }
.min-wrem-21\.75  { min-width: 21.75rem; }
.min-wrem-22     { min-width: 22rem; }
.min-wrem-22\.25  { min-width: 22.25rem; }
.min-wrem-22\.5   { min-width: 22.5rem; }
.min-wrem-22\.75  { min-width: 22.75rem; }
.min-wrem-23     { min-width: 23rem; }
.min-wrem-23\.25  { min-width: 23.25rem; }
.min-wrem-23\.5   { min-width: 23.5rem; }
.min-wrem-23\.75  { min-width: 23.75rem; }
.min-wrem-24     { min-width: 24rem; }
.min-wrem-24\.25  { min-width: 24.25rem; }
.min-wrem-24\.5   { min-width: 24.5rem; }
.min-wrem-24\.75  { min-width: 24.75rem; }
.min-wrem-25     { min-width: 25rem; }
.min-wrem-25\.25  { min-width: 25.25rem; }
.min-wrem-25\.5   { min-width: 25.5rem; }
.min-wrem-25\.75  { min-width: 25.75rem; }
.min-wrem-26     { min-width: 26rem; }
.min-wrem-26\.25  { min-width: 26.25rem; }
.min-wrem-26\.5   { min-width: 26.5rem; }
.min-wrem-26\.75  { min-width: 26.75rem; }
.min-wrem-27     { min-width: 27rem; }
.min-wrem-27\.25  { min-width: 27.25rem; }
.min-wrem-27\.5   { min-width: 27.5rem; }
.min-wrem-27\.75  { min-width: 27.75rem; }
.min-wrem-28     { min-width: 28rem; }
.min-wrem-28\.25  { min-width: 28.25rem; }
.min-wrem-28\.5   { min-width: 28.5rem; }
.min-wrem-28\.75  { min-width: 28.75rem; }
.min-wrem-29     { min-width: 29rem; }
.min-wrem-29\.25  { min-width: 29.25rem; }
.min-wrem-29\.5   { min-width: 29.5rem; }
.min-wrem-29\.75  { min-width: 29.75rem; }
.min-wrem-30     { min-width: 30rem; }
.min-wrem-30\.25  { min-width: 30.25rem; }
.min-wrem-30\.5   { min-width: 30.5rem; }
.min-wrem-30\.75  { min-width: 30.75rem; }
.min-wrem-31     { min-width: 31rem; }
.min-wrem-31\.25  { min-width: 31.25rem; }
.min-wrem-31\.5   { min-width: 31.5rem; }
.min-wrem-31\.75  { min-width: 31.75rem; }
.min-wrem-32     { min-width: 32rem; }
.min-wrem-32\.25  { min-width: 32.25rem; }
.min-wrem-32\.5   { min-width: 32.5rem; }
.min-wrem-32\.75  { min-width: 32.75rem; }
.min-wrem-33     { min-width: 33rem; }
.min-wrem-33\.25  { min-width: 33.25rem; }
.min-wrem-33\.5   { min-width: 33.5rem; }
.min-wrem-33\.75  { min-width: 33.75rem; }
.min-wrem-34     { min-width: 34rem; }
.min-wrem-34\.25  { min-width: 34.25rem; }
.min-wrem-34\.5   { min-width: 34.5rem; }
.min-wrem-34\.75  { min-width: 34.75rem; }
.min-wrem-35     { min-width: 35rem; }
.min-wrem-35\.25  { min-width: 35.25rem; }
.min-wrem-35\.5   { min-width: 35.5rem; }
.min-wrem-35\.75  { min-width: 35.75rem; }
.min-wrem-36     { min-width: 36rem; }
.min-wrem-36\.25  { min-width: 36.25rem; }
.min-wrem-36\.5   { min-width: 36.5rem; }
.min-wrem-36\.75  { min-width: 36.75rem; }
.min-wrem-37     { min-width: 37rem; }
.min-wrem-37\.25  { min-width: 37.25rem; }
.min-wrem-37\.5   { min-width: 37.5rem; }
.min-wrem-37\.75  { min-width: 37.75rem; }
.min-wrem-38     { min-width: 38rem; }
.min-wrem-38\.25  { min-width: 38.25rem; }
.min-wrem-38\.5   { min-width: 38.5rem; }
.min-wrem-38\.75  { min-width: 38.75rem; }
.min-wrem-39     { min-width: 39rem; }
.min-wrem-39\.25  { min-width: 39.25rem; }
.min-wrem-39\.5   { min-width: 39.5rem; }
.min-wrem-39\.75  { min-width: 39.75rem; }
.min-wrem-40     { min-width: 40rem; }